.App {
  text-align: center;
  background-color: rgb(228, 203, 171);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



footer{
  grid-area: pie;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: burlywood;
}

.colorA{
  color: white;
}

.colorNombre{
color: white;
}
.tamanioCarrito{
  width: 25px;
  height: 25px;
   
}

.cart {
  cursor:pointer;
  }
.cart span:nth-child(1){
  font-size: 2rem;
  color:white
}

.cart span:nth-child(2){
  padding: 0 3px;
  background-color:grey;
  color: white;
  font-weight:bolx;
  border-radius: 5px;
  position: relative;
  top: -15px;
}

.imagenLogo{
  width: 150px;
  height: 130px; 
}

.color-body{
  background-color: white;
}

.colorHeader{
  background-color: burlywood;
}


.colorCard{
  background-color: burlywood;
  border-radius: 15px;
}

.moverProducto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tamanioImagen{
  width: 350px;
  height: 350px;
}
.tamanioImagen2{
  width: 600px;
  height: 600px;
}

.itemDetail{
  margin-right: 30px;
}

.menu{
  text-decoration: none;
  color:black;
}
.colorProd{
  background-color: white;
  width: 500px;
  max-height: max-content;
  
}
.numCarrito{
  text-decoration:none;
  color:black;
}

.tamanioIcono{
  width: 200px;
  height: 200px;
  justify-content: center;
}
.iconoCargando{
  
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid grey; 
  border-top-color: greenyellow;
  border-bottom-color: rgb(229, 75, 168);
  border-radius: 50%;
  animation: rotate 20s linear infinite;
}

.iconoCargando-a{
  border-top-color: white ;
  border-bottom-color: rgb(165, 158, 69);
  animation-duration: 2.5s;
  margin: 0 auto;
}

@keyframes rotate{
  0%{
    transform: scale(1) rotate(360deg);
  }
  50%{
    transform: scale(.8) rotate(-360deg);
  }
  100%{
    transform: scale(1) rotate(360deg);
  }
}

.form{
  width:50%;
  margin: 0 auto;
}

.select {
  appearance: none;
  padding: 10px 15px;
  -webkit-border-radius: 70px;
  -moz-border-radius:70px;
  border-radius: 70px;
  border: 1px solid burlywood;
  background-color: burlywood;
  color: #ffffff;
  font-size: 22px;
}

.select:focus {
  outline: none;
}

.zoom {
  transition: transform .2s; 
}

.zoom:hover {
  transform: scale(1.5); 
}